.card {
  width: 296px;
  padding: 24px;
  border: 1px solid black;
  background-color: white;
  .tabsContainer {
    display: flex;
    border-bottom: 1px solid;
    button {
      font-family: var(--font-stack-heading);
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0;
      font-size: 20px;
      height: 40px;
      width: 100%;
    }
  }
  .subscribe {
    font-family: var(--font-stack-heading-serif);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.35;
    letter-spacing: -0.0095rem;
    max-width: 36em;
    color: black;
  }
  .getThisCourse {
    font-weight: 400;
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 15px;
    color: black;

    a {
      color: #401b9c;
      text-decoration: underline;
      text-underline-offset: 0.4rem;
      text-decoration-color: #8072e6;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0;
      font-size: 14px;
    }
  }
  .freePlan {
    border: none;
    cursor: pointer;
    width: 97%;
    height: 50px;
    background-color: var(--color-purple-300);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1rem;
    color: white;
    border-radius: 3px;
  }
  .startingPlan {
    margin-top: 10px;
    font-size: 13px;
    color: #6a6f73;
    text-align: center;
  }
  .hrLineParent{
    display: flex;
    justify-content: center;
    p{
      position: absolute;
      background-color: white;
    }
    hr{
      width: 100%;
      margin-top: 13px;
    }
  }
  .price {
    font-family: var(--font-stack-heading);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 17px;
    color: #2d2f31;
  }
  .addToCart {
    margin-top: 15px;
    border: 1px solid;
    cursor: pointer;
    width: 97%;
    padding: 0.7rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 15px;
  }
  .footerBtnParent {
    display: flex;
    margin: 10px 0px;
    .footerBtn {
      font-family: var(--font-stack-heading);
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0;
      font-size: 13px;
      text-underline-offset: 0.4rem;
      text-decoration: underline;
      text-decoration-color: #5624d0;
    }
  }
  .coupon {
    border: 1px dashed #d1d7dc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    h4 {
      font-size: 1rem;
      color: #6a6f73;
      font-weight: 400;
    }
    p {
      font-size: 0.7rem;
      color: #6a6f73;
      font-weight: 400;
    }
  }
  .enterCoupon {
    display: flex;
    margin-top: 15px;
    input {
      border: 1px solid #2d2f31;
      border-radius: 0;
      display: block;
      padding: 0 1.6rem;
      width: 100%;
      font-weight: 400;
      line-height: 1.4;
      font-size: 1rem;
    }
    .applyBtn {
      border: none;
      cursor: pointer;
      padding: 0 1.2rem;
      background-color: var(--color-gray-400);
      color: white;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0;
      font-size: 1rem;
      height: 40px;
    }
  }
}
